/*colors variables*/
$coral: #f38181;
$gradient-our-team-card: linear-gradient(rgba(239,137,138,0.9), rgba(240,216,137,0.9));
$shadow-card: #95e1d3;
$social-color: #fce38a;
$destination-color: #999999;
$name-color: #333333;
$white: #fff;
$span-footer-text: red;
$footer-shadow: #e5e5e5;
$header-gradient:  (90deg, rgba(252,227,138,0.9) 0%, rgba(243,129,129,0.9) 100%);
$features-text: #a0a0a0;
/*text variables*/
$montserrat: 'montserrat', verdana, sans-serif;
$kaushan: 'Kaushan Script', verdana, sans-serif;
$roboto: 'roboto', verdana, sans-serif;